body{
    font-family: "Mulish", sans-serif;
}
.color{
    color: #424247;
}
.common-btn{
    padding: 18px 25px;
    color: white;
    font-weight: bold;
    background-color: #FF5400;
    border: none;
    border-radius: 7px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 220px;
}
.nav-title{
    display: flex;
}
.nav-title img{
    margin-right:20px ;
}
.nav-title>h2{
    font-weight: 900;
}
.span{
    color: #FF5400;
}
.nav-ul{
    display: flex;
}
.nav-ul li{
    list-style: none;
}
.nav-ul a{
    text-decoration: none;
    color: #424247;
    margin-left: 40px;
}
.banner{
    margin: 30px 220px;
    background-image: 
    linear-gradient(to top, rgba(110, 110, 114, 0), rgba(47, 49, 58, 0.575)),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 140px 0px;
    border-radius: 20px;
}
.banner h1{
    margin: 50px auto 20px auto;
    font-size: 2.7rem;
    font-weight: 800;
}
.button{
    margin: 40px auto;
    background-color: rgba(140, 140, 141, 0.6);
    border-radius: 8px;
    padding: 15px 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.single-btn{
    width: 22%;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    text-align: start;
    color: #131318;
}
.space{
   /* margin:0px 100%; */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.find{
    width: 22%;
}
.popular{
    margin: 50px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-text{
    width: 46%;
}
.destination{
    text-align: center;
    margin: 50px 12%;
}
.destination p{
    width: 60%;
    margin: 0px auto;
}
.photo{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row h1{
    margin: 10px 0px;
}
.maldives{
    background-image: url("../Images/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    padding: 13% 0px;    
    color: white;
    font-weight: 800;
    font-size: 2rem;
}
.indonesia{
    background-image: url("../Images/Rectangle\ 8.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 49%;
    padding: 13% 0px;
    color: white;
    font-weight: 800;
    font-size: 2rem;
}
.srilanka{
    background-image: url("../Images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24%;
    /* height: 50vh; */
    padding: 13% 0px;
    color: white;
    font-weight: 800;
    font-size: 2rem;
}
.america{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    background-image: url("../Images/Rectangle\ 7.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 50%;
    padding: 13% 0px;
}
.kashmir{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    background-image: url("../Images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 24%;
    padding: 13% 0px;
}
.bd{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    background-image: url("../Images/Rectangle\ 11.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 30%;
    padding: 13% 0px;
}
.ban{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    background-image: url("../Images/Rectangle\ 10.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 69%;
    padding: 13% 0px;
}

/* choose section */
.choose-sec{
    margin: 0px 12% ;
}
.choose-text{
    text-align: center;
    width: 40%;
    margin: 0px auto;
}
.cart-box{
    display: flex;
    justify-content: space-between;
}
.cart img{
    width: 130px;
}

.cart{
    width: 46%;
    background-color: #f8ebdd;
    padding: 14px 20px;
    border-radius: 7px;
}
.cart-color{
    background-color: #d4f1f8e8;
}
.single-cart{
    margin: 30px auto 50px auto;
}
.deals-sec{
    margin: 100px 12%;
}
.deals-details{
    background-image: url("../Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10%;
    margin-bottom: 14px;
}
.deals-details-2{
    background-image: url("../Images/Group\ 40.png");
}
.package-box{
    background-color: rgba(246, 246, 248, 0.9);
    border-radius: 15px;
    width: 43%;
    padding: 30px;
    margin-left:50% ;
    margin-top: 6%;
}
.package-box-2{
    margin-top: 6%;
    margin-left: 2%;
}
.deal-text{
    text-align: center;
    width: 55%;
    margin: 0px auto;
}
.package-limit{
    display: flex;
}
.gap{
margin-left: 27px;
}
.orange{
    color: #FF5400;
}
.package-btn{
    margin: 20px 40%;
}








/* responsive part */
@media screen and (max-width:430px) {
    .navigation{
        margin: 0px;
        flex-direction: column;
    }
    ul{
        padding: 0px;
    }
    ul a{
        margin-left: 10px;
    }
    .banner{
        margin: 0px;
        padding:0px;
        background-size:100% 100%;
        height: 50vh;
    }
    .banner h1{
        margin: 0px;
        font-size: 2rem;
        padding-top: 17px;
    }
    .button{
        margin: 0px auto;
        flex-direction: column;
        width: 80%;
    }
    .single-btn{
        width:100%;
        margin-bottom: 22px;
        padding: 18px;
    }
    .find{
        width: 100%;
    }
    .popular{
        flex-direction: column;
        margin: 10px 6px;
    }
    .popular-text{
        width: 90%;
    }
    .popular img{
        width: 100%;
        margin: 22px auto;
    }
    .row{
        flex-direction: column;
    }
    .destination{
        margin: 0px;
    }
    .destination p{
        width: 95%;
    }
    .phone--size{
        width: 100%;
    }
    .choose-sec {
        margin: 0px 5%;
    }
    .choose-text{
        width: 90%;
    }
    .cart-box{
        flex-direction: column;
    }
    .cart{
        width: 100%;
        margin-bottom: 10px;
    }
    .single-cart{
        margin: 0px;
    }
    
    .deals-sec{
        margin: 5px auto;
    }
    .deal-text{
        width: 90%;
    }
    .package-box{
        width: 87%;
        margin-left: 0px;
        margin-top: 80%;
    }
    .package-limit{
        flex-direction: column;
    }
    .gap{
        margin: 0px;
    }
    .package-btn{
        margin: 20px 30%;
    }
}