body{
    font-family: "Mulish", sans-serif;
}
.color{
    color: #424247;
}
.common-btn{
    padding: 18px 15px;
    color: white;
    font-weight: bold;
    background-color: #FF5400;
    border: none;
    border-radius: 7px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 220px;
}
.nav-title{
    display: flex;
}
.nav-title img{
    margin-right:20px ;
}
.nav-title>h2{
    font-weight: 900;
}
.span{
    color: #FF5400;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #424247;
    margin-left: 40px;
}
.banner{
    margin: 30px 220px;
    background-image: 
    linear-gradient(to top, rgba(110, 110, 114, 0), rgba(47, 49, 58, 0.575)),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 140px 0px;
    border-radius: 20px;
}
.banner h1{
    margin: 50px auto 20px auto;
    font-size: 2.7rem;
    font-weight: 800;
}
.button{
    margin: 40px auto;
    background-color: rgba(140, 140, 141, 0.6);
    border-radius: 8px;
    padding: 15px 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.single-btn{
    width: 22%;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    text-align: start;
    color: #131318;
}
.space{
   /* margin:0px 100%; */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.find{
    width: 22%;
}









/* responsive part */
@media screen and (max-width:430px) {
    .navigation{
        margin: 0px;
        flex-direction: column;
    }
    ul{
        padding: 0px;
    }
    ul a{
        margin-left: 10px;
    }
    .banner{
        margin: 0px;
        padding:0px;
        background-size:100% 100%;
        height: 50vh;
    }
    .banner h1{
        margin: 0px;
        font-size: 2rem;
        padding-top: 17px;
    }
    .button{
        margin: 0px auto;
        flex-direction: column;
        width: 80%;
    }
    .single-btn{
        width:100%;
        margin-bottom: 22px;
        padding: 18px;
    }
    .find{
        width: 100%;
    }
}